transformers==4.36.0
datasets==2.9.0
fire==0.4.0
gdown==4.5.1
requests==2.31.0
rouge-score==0.1.2
summa==1.2.0
textdistance==4.5.0
wandb==0.13.4
rich==13.0.1
diskcache==5.4.0
accelerate==0.16.0
optimum==1.6.3
p_tqdm==1.4.0